.navbar {
  background: rgb(191, 62, 255);
  background: linear-gradient(0deg, rgba(191, 62, 255, 1) 100%);
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h5,
p,
button,
textarea,
h6,
label {
  font-family: "Roboto", sans-serif;
}

.footer {
  font-size: 17px;
}

.main-area {
  background: rgb(4, 117, 195, 0.644);
  background: linear-gradient(
    0deg,
    rgba(34, 117, 195, 0.644) 0%,
    rgba(191, 62, 255, 1) 100%
  );
  height: 88vh;
  padding-top: 80px;
}

.data-card {
  height: 400px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.3);
}

.textarea {
  height: 250px;
  width: 250px;
  border: none;
  outline: none;
  margin-top: 0px !important;
  padding: 0px;
}

.btn-home {
  position: relative;
  bottom: 16px;
  left: 20px;
}

.btn-next {
  position: relative;
  bottom: 54px;
  left: 110px;
}

.anc {
  text-decoration: none;
  color: #bf3eff;
}

.anc:hover {
  color: #bf3eff79;
}

.btn {
  background-color: #bf3eff;
  color: white;
  width: 70px;
  border-radius: 6px;
}

.btn:hover {
  color: white;
}

.btn-back2 {
  position: relative;
  bottom: 16px;
  left: 20px;
}

.home-card {
  height: 400px;
  width: 500px;
  border-radius: 20px;
  box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.3);
}

.home-text {
  line-height: 2;
}

.btn-enc {
  width: 100px;
  border-radius: 6px;
  position: relative;
  bottom: 2px;
  left: 15px;
}
.btn-dec {
  width: 100px;
  border-radius: 6px;
  position: relative;
  bottom: 40px;
  left: 130px;
}

.btn-op {
  width: 83px;
}

.footer {
  padding-top: 130px;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 440px) {
  .main-area {
    height: 115vh;
  }
  .home-card {
    height: 500px;
  }
  .btn-op {
    width: 83px;
    position: relative;
    bottom: 38px;
    left: 80px;
  }
}

@media screen and (max-width: 360px) {
  .main-area {
    height: 120vh;
  }
}

@media screen and (max-width: 992px) and (min-width: 500px) {
  .main-area {
    padding-top: 40px;
    height: 140vh;
  }

  .textarea {
    height: 250px;
  }

  .footer {
    padding-top: 50px;
  }
}
